<Jumbo>
  <h2>This is a practice page</h2>
  <p>
    The Super Rentals website is a delightful project created to explore Ember.
    By building a property rental site, we can simultaneously imagine traveling
    AND building Ember applications.
  </p>
  <Test></Test>
  <LinkTo @route="contact" class="button">Contact Us</LinkTo>
</Jumbo>